Repository markdown-all-in-one/docs: changes, and which Mergify rules are due for each by the changed paths.
All: Add label `Category-Decision`, Add label `Category-Management`, Add label `Category-Spec`, Add label `Category-User`

Add label `Category-Decision`:
  label:
    add:
    - Category-Decision

Add label `Category-Management`:
  label:
    add:
    - Category-Management

Add label `Category-Spec`:
  label:
    add:
    - Category-Spec

Add label `Category-User`:
  label:
    add:
    - Category-User

🏗 Separate `nav` from `config.js`
  docs/.vuepress/config.js
  docs/.vuepress/nav.js
Due: none

✨ Add "Reporting a performance issue"
  docs/.vuepress/sidebar.js
  docs/README.md
  docs/guide/performance.md
Due: Add label `Category-User`

✨ Finish "Packaging"
  docs/.vuepress/sidebar.js
  docs/project-management/main/automation/ci.md
  docs/project-management/main/packaging.md
Due: Add label `Category-Management`

🏗 Add contributing guides
  docs/.vuepress/nav.js
  docs/.vuepress/sidebar.js
  docs/README.md
  docs/contributing/README.md
  docs/contributing/code-style.md
  docs/contributing/emoji.md
  docs/contributing/issue.md
  docs/contributing/optimization.md
  docs/contributing/packaging.md
  docs/contributing/test.md
  docs/contributing/textmate-language-grammar.md
  docs/contributing/word-choice.md
  docs/contributing/writing-style-guide.md
  docs/decisions/README.md
  docs/project-management/README.md
Due: Add label `Category-Decision`, Add label `Category-Management`

✨ "Contributing", "Issue management", "Blog"
  docs/.vuepress/nav.js
  docs/.vuepress/sidebar.js
  docs/README.md
  docs/blog/README.md
  docs/blog/toggle-preview.md
  docs/contributing/README.md
  docs/contributing/issue.md
  docs/contributing/localization.md
  docs/contributing/optimization.md
  docs/contributing/performance-issue.md
  docs/guide/performance.md
  docs/project-management/main/automation/ci.md
  docs/project-management/main/issue.md
  docs/project-management/main/labels.md
Due: Add label `Category-Management`, Add label `Category-User`

🔧 Clean up configuration
  docs/.vuepress/config.js
  package.json
Due: none

👷 Reduce log
  tools/Deploy-Website.ps1
  tools/build.ps1
  tools/deploy.ps1
  tools/util.psm1
Due: none

✨ Add "Extension Bisect" to the guide
  docs/contributing/performance-issue.md
Due: none

🏗 Transfer
  README.md
  docs/.vuepress/config.js
  package.json
Due: none

👷 Trigger publishing on push
  .github/workflows/publish.yml
Due: none

🏗 Convert page titles back to h1 headings
  docs/blog/toggle-preview.md
  docs/contributing/README.md
  docs/contributing/issue.md
  docs/contributing/optimization.md
  docs/contributing/packaging.md
  docs/contributing/performance-issue.md
  docs/contributing/textmate-language-grammar.md
  docs/contributing/word-choice.md
  docs/contributing/writing-style-guide.md
  docs/decisions/compatibility.md
  docs/decisions/key-binding.md
  docs/decisions/markdown-syntax-and-flavors.md
  docs/decisions/math-support.md
  docs/decisions/syntax-highlighting-for-fenced-code-blocks.md
  docs/guide/README.md
  docs/guide/key-binding.md
  docs/project-management/docs/labels.md
  docs/project-management/main/automation/ci.md
  docs/project-management/main/issue.md
  docs/project-management/main/labels.md
  docs/specs/markdown-preview.md
  docs/specs/slugify/azure-devops.md
  docs/specs/slugify/gitea.md
  docs/specs/slugify/github.md
  docs/specs/slugify/gitlab.md
  docs/specs/slugify/hugo.md
  docs/specs/slugify/vscode.md
Due: Add label `Category-Decision`, Add label `Category-Management`, Add label `Category-Spec`, Add label `Category-User`

✨ Update "Emoji" from https://github.com/markdown-all-in-one/chat/discussions/3
  docs/contributing/emoji.md
Due: none

👷 VuePress 2
  docs/.vuepress/.gitignore
  docs/.vuepress/config.js
  docs/.vuepress/config.ts
  docs/.vuepress/nav.js
  docs/.vuepress/navbar.ts
  docs/.vuepress/sidebar.js
  docs/.vuepress/sidebar.ts
  docs/.vuepress/tsconfig.json
  docs/README.md
  docs/project-management/README.md
  docs/project-management/docs/README.md
  docs/project-management/main/README.md
  docs/project-management/main/automation.md
  docs/project-management/main/issue.md
  docs/project-management/main/labels.md
  docs/specs/editor-theming/editor-decoration.md
  docs/specs/exporting/html.md
  package-lock.json
  package.json
Due: Add label `Category-Management`, Add label `Category-Spec`

✨ Improve wording
  docs/.vuepress/sidebar.ts
  docs/contributing/packaging.md
  docs/contributing/performance-issue.md
  docs/contributing/writing-style-guide.md
  docs/decisions/math-support.md
  docs/guide/README.md
Due: Add label `Category-Decision`, Add label `Category-User`

✨ Check in stale changes
  docs/.vuepress/sidebar.ts
  docs/contributing/README.md
  docs/contributing/commit-message.md
  docs/contributing/dependency-management.md
  docs/contributing/diagnostic-data.md
  docs/contributing/emoji.md
  docs/contributing/issue.md
  docs/contributing/performance-issue.md
Due: none

🏗 Merge "Decisions" into "Guide"
  README.md
  docs/.vuepress/navbar.ts
  docs/.vuepress/sidebar.ts
  docs/README.md
  docs/decisions/README.md
  docs/decisions/key-binding.md
  docs/guide/README.md
  docs/guide/compatibility.md
  docs/guide/key-binding.md
  docs/guide/markdown-syntax-and-flavors.md
  docs/guide/math.md
  docs/guide/syntax-highlighting-for-fenced-code-blocks.md
  docs/specs/markdown-preview.md
  docs/specs/slugify/azure-devops.md
Due: Add label `Category-Decision`, Add label `Category-Spec`, Add label `Category-User`

👷 VuePress 2.0.0-beta.22
  docs/.vuepress/config.ts
  docs/.vuepress/sidebar.ts
  package-lock.json
  package.json
Due: none

✨ Add security advisory about exporting
  docs/.vuepress/sidebar.ts
  docs/guide/exporting.md
Due: Add label `Category-User`

👷 VuePress 2.0.0-beta.23
  package-lock.json
  package.json
Due: none

✨ Add compatibility known issues
  docs/guide/compatibility.md
  docs/guide/key-binding.md
Due: Add label `Category-User`

✨ Enrich the user guide
  docs/.vuepress/sidebar.ts
  docs/contributing/code-style.md
  docs/contributing/code-style/dump.ts
  docs/contributing/code-style/file.md
  docs/contributing/code-style/i-disposable.ts
  docs/contributing/code-style/text-writer.ts
  docs/contributing/code-style/typescript.md
  docs/contributing/diagnostic-data.md
  docs/guide/README.md
  docs/guide/compatibility.md
  docs/guide/list.md
  docs/guide/math.md
  docs/guide/table-of-contents.md
  docs/guide/table.md
Due: Add label `Category-User`

✨ Add "Incompatibility"
  docs/guide/compatibility.md
Due: Add label `Category-User`

Path conditions:
  Add label `Category-Decision`: any of: (?i)^docs/decisions
  Add label `Category-Management`: any of: (?i)^docs/project-management
  Add label `Category-Spec`: any of: (?i)^docs/specs
  Add label `Category-User`: any of: (?i)^docs/guide
