Repository markdown-all-in-one/docs: changes, and which Mergify rules are due for each by the changed paths.
All: Add label `Category-Decision`, Add label `Category-ProjectManagement`, Add label `Category-Spec`

Add label `Category-Decision`:
  label:
    add:
    - Category-Decision

Add label `Category-ProjectManagement`:
  label:
    add:
    - Category-ProjectManagement

Add label `Category-Spec`:
  label:
    add:
    - Category-Spec

✨ Add "Slugify rules for Hugo" (partial)
  docs/specs/table-of-contents/hugo-slugify-rules.md
Due: Add label `Category-Spec`

✨ Add "Date and time" to "Writing style guide"
  docs/project-management/docs-management/writing-style-guide.md
Due: Add label `Category-ProjectManagement`

vuepress init
  .gitignore
  docs/README.md
  docs/specs/table-of-contents/hugo-slugify-rules.md
  package-lock.json
  package.json
Due: Add label `Category-Spec`

github pages base
  docs/.vuepress/.config.js
Due: none

🐛 Fix VuePress config
  docs/.vuepress/.config.js
  docs/.vuepress/.gitignore
  docs/.vuepress/config.js
  docs/README.md
  docs/decisions/README.md
  docs/project-management/README.md
  docs/specs/README.md
Due: Add label `Category-Decision`, Add label `Category-ProjectManagement`, Add label `Category-Spec`

🧪 SEO
  docs/.vuepress/config.js
  package-lock.json
  package.json
Due: none

👷 Add Actions workflow for publishing website
  .github/workflows/publish.yml
  tools/Deploy-Website.ps1
  tools/deploy.ps1
Due: none

👷 Install Stale bot
  .github/stale.yml
Due: none

Init
  .nojekyll
Due: none

👷 Fix "Deploy-Website.ps1"
  tools/Deploy-Website.ps1
Due: none

📄 Add the ISC License
  LICENSE.txt
Due: none

📄 Unify names
  README.md
  package.json
Due: none

😏
  docs/project-management/docs-management/writing-style-guide.md
Due: Add label `Category-ProjectManagement`

⬆ Update Node.js dependencies
  package-lock.json
  package.json
Due: none

👷 Update Mergify rules
  .mergify.yml
Due: none

✨ Add User guide
  docs/.vuepress/config.js
  docs/README.md
  docs/decisions/compatibility-with-other-extensions.md
  docs/decisions/markdown-syntax-and-flavors.md
  docs/guide/README.md
  docs/guide/key-binding.md
Due: Add label `Category-Decision`

👷 Rename label "Resolution-Invalid"
  .mergify.yml
Due: none

🧪 Try to fix log output
  tools/Deploy-Website.ps1
Due: none

✨ Add some background of Markdown preview
  docs/decisions/compatibility-with-other-extensions.md
  docs/decisions/compatibility.md
  docs/decisions/markdown-preview.md
  docs/guide/README.md
  docs/specs/markdown-preview.md
Due: Add label `Category-Decision`, Add label `Category-Spec`

✨ Add a few references to "Compatibility"
  docs/decisions/compatibility.md
Due: Add label `Category-Decision`

🎨 Headings
  docs/decisions/markdown-syntax-and-flavors.md
  docs/specs/table-of-contents/gitea-slugify-rules.md
  docs/specs/table-of-contents/hugo-slugify-rules.md
Due: Add label `Category-Decision`, Add label `Category-Spec`

✨ Add Homepage
  docs/README.md
  docs/project-management/README.md
Due: Add label `Category-ProjectManagement`

✨ Add "Labels (docs repository)"
  docs/project-management/docs-management/labels.md
Due: Add label `Category-ProjectManagement`

🏗 Reorganize `/project-management/`
  docs/project-management/README.md
  docs/project-management/docs/README.md
  docs/project-management/docs/labels.md
  docs/project-management/docs/life-cycle.md
  docs/project-management/docs/writing-style-guide.md
  docs/project-management/main/README.md
  docs/project-management/main/automation-services/ci.md
  docs/project-management/main/code-style.md
  docs/project-management/main/emoji.md
  docs/project-management/main/issue.md
  docs/project-management/main/labels.md
  docs/project-management/main/life-cycle.md
  docs/project-management/main/repository-organization.md
  docs/project-management/main/test.md
Due: Add label `Category-ProjectManagement`

👷 Try to fix log (2)
  .github/workflows/publish.yml
  tools/Deploy-Website.ps1
Due: none

👷 Fix the recognition logic of abandoned PR
  .mergify.yml
Due: none

✨ Update colors of labels (docs repository)
  docs/project-management/docs/labels.md
Due: Add label `Category-ProjectManagement`

🏗 Move all the slugify docs to `/specs/slugify/`
  docs/specs/slugify/gitea.md
  docs/specs/slugify/github-enterprise-server.md
  docs/specs/slugify/github.md
  docs/specs/slugify/gitlab.md
  docs/specs/slugify/hugo.md
  docs/specs/slugify/vscode.md
Due: Add label `Category-Spec`

✨ Add "Slugify rules for Azure DevOps"
  docs/specs/slugify/azure-devops.md
Due: Add label `Category-Spec`

✨ Add most of decisions
  docs/decisions/README.md
  docs/decisions/compatibility.md
  docs/decisions/key-binding.md
  docs/decisions/markdown-syntax-and-flavors.md
  docs/decisions/math-support.md
  docs/decisions/syntax-highlighting-for-fenced-code-blocks.md
  docs/decisions/word-choice.md
  docs/specs/slugify/azure-devops.md
Due: Add label `Category-Decision`, Add label `Category-Spec`

✨ Add sidebar
  docs/.vuepress/config.js
  docs/.vuepress/sidebar.js
  docs/guide/README.md
Due: none

✨ Add "Packaging"
  docs/project-management/main/packaging.md
Due: Add label `Category-ProjectManagement`

✨ Add "Resolution-External" label (docs)
  docs/project-management/docs/labels.md
Due: Add label `Category-ProjectManagement`

👷 Separate build script
  .github/workflows/publish.yml
  tools/build.ps1
Due: none

✨ Draft "Issue management (main)"
  docs/project-management/main/issue.md
  docs/project-management/main/labels.md
Due: Add label `Category-ProjectManagement`

Path conditions:
  Add label `Category-Decision`: any of: (?i)^docs/decisions
  Add label `Category-ProjectManagement`: any of: (?i)^docs/project-management
  Add label `Category-Spec`: any of: (?i)^docs/specs
